TARGET/
*.iml
.idea
.vscode
*.pyc
.sconsign.*
.DS_Store
*.dblite
*.bak
*.tgz
*.log
=9.0.1
CROSS_TOOLS
client_app/iphone/dynamic_dev_environment_settings.json
client_app/iphone/Modules/FeaturesShared/TangoNetworkingModels/Sources/Protobuf/Generated
client_app/iPhone/Frameworks/*.xcframework
client_app/iphone/tools/sourcery/Sourcery
.swiftpm
.idea
**/xcuserdata
**/version.properties
sgiggle/server/*/*/out/
retry.sh
*.xcuserdata
.versionsBackup
CMakeLists.txt.user*
*.swp
.venv
testsToRun
reports/
*.backup
IDEWorkspaceChecks.plist

client_app/iphone/Pods/resources-to-copy-Tango.txt
*AutoMockable.generated.swift
