<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>182628399243-pum6fp8cptidu4fn92pdpp57p5lf6gs2.apps.googleusercontent.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.182628399243-pum6fp8cptidu4fn92pdpp57p5lf6gs2</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Alata-Regular.ttf</string>
		<string>Khula-Bold.ttf</string>
		<string>Khula-ExtraBold.ttf</string>
		<string>Khula-Light.ttf</string>
		<string>Khula-Regular.ttf</string>
		<string>Khula-SemiBold.ttf</string>
	</array>
</dict>
</plist>
